<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Product Application</h1>
<p>This application presents a list of products</p>

<%= link_to "Add Product", addproduct_path, class: "btn btn-lg btn-primary" %>

</div>
