<% provide(:title, "Edit Product") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |p| %>
      <%= render 'shared/error_messages' %>

      <%= p.label :name %>
      <%= p.text_field :name, class: 'form-control' %>

      <%= p.label :description %>
      <%= p.text_field :description, class: 'form-control' %>

      <%= p.label :ean %>
      <%= p.text_field :ean, class: 'form-control' %>

    
      <%= p.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>
