<header>
  <div class="container">

    <%= link_to "Products App", root_path, id:"logo" %>
    <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
    </nav>
  </div>
</header>

